div {
  background-color: #F4F9F5;
}

body{
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
  positon: relative;
  bottom: 150px;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  margin: 0 auto 0 auto;
  padding-top: 150px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: auto;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  align: center;
}

.middle-container {
  align: center;
}

.bottom-container {
  align: center;
  margin-top: 30px;
  background-color: #66BFBF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pro {
  text-decoration: underline;
}

.first-cloud {
  position: relative;
  left: 320px;
  top: 50px;
}
.second-cloud {
  position: absolute;
}

.profile {
  padding-top: 200px;
  padding-bottom: 200px;
}

br {
  margin: 0px;
}

h1,h2 {
  color: #66BFBF;
}

a, h3 {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 150px;
  text-align: left;
  line-height: 2;
}

.snowing {
  position: relative;
  right: 250px;
}

.mountain {
  position: relative;
  bottom:250px;
}

.cloud1 {
  position: absolute;
  top:300px;
  right: 490px;
}

.cloud2 {
  position: relative;
  bottom: 145px;
  left: 240px;
}

.skiing {
  position: relative;
  bottom:560px;
  right: 400px;
  width: 4%;
}

.code-gif {
  float: left;
  margin-right: 30px;
}

.game-gif {
  float: right;
  margin-right: 30px;
}

.code-skill {
  clear: left;
}

.game-skill {
  clear: right;
}

hr {
  border: none;
  border-top-style: dotted;
  border-width: 12px;
  width: 10%;
  height: 0px;
  position: relative;
  bottom: 80px;
  color: #C0C0C0;

}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
}
